
h1{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 3rem;
    margin: 0.5rem;
}

h3{
    color: #863812;
    margin: 0.2rem;
    font-weight: 500;
}

.registerLine {
    color: #000000;
    font-weight: 300;
}

.wrapper{
    text-align: center;
}

.logoRaw{
    margin-top: 4%;
    width: 7%;  /* 30rem */
}

.signUp{
    text-decoration: none;
    font-weight: 900;
    color: #5B3203;
}

.input{
    margin-bottom: 1.2rem;
}

.input:hover{
    margin-bottom: 1.2rem;
}

.loginForm{
    margin: 6% auto 0;
    width: 30%;
}

.submit{
    margin: 3rem auto 0;
    background-color: #863812;
    border-radius: 6px;
    width: 10rem;
    height: 3rem;
    text-transform:capitalize;
    font-size: large;
    font-weight: bold;
}

.submit:hover{
    background-color: #5B3203;
}

.loginStatus{
    margin: 0;
    color: #dd3737;
    margin-top: 2rem;
    font-weight: 300;
}

 