

.blogUserOptions {
    background-color: #aeeef7 !important;
    border-bottom: 1px solid #5B3203;
}

.blogCards {
    background-color: #8ac1cf;
    border-radius: 10px;
    margin: 2rem 3rem;
}

.description {
    text-align: justify;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%; */
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
